.row-form {

         display: flex; 
         flex-wrap: wrap; 
        margin-left: 17px;
    
}

.titles{ 
    margin-left: 20px;
    margin-top: 10px;
}

.facture {
    margin-right:'77px';

}

.inp{ 
    
     width: 116px; 

}
.disabled{ 
    pointer-events: none;
    cursor: not-allowed; 

}
 
::ng-deep p-calendar .p-datepicker table td {
    padding: 0rem !important;
    
}
::ng-deep p-calendar .p-datepicker {
    padding: 0rem !important;
   
} 