<div class="wrapped-div">
    <div class="tab-header">
      <h2>Réinitialiser votre mot de passe </h2>
    </div>
  
    <div class="row">
      <div class="col-md-10 offset-md-1">  
      <div class="login-logo">
        <i class="fa fa-lock fa-3x" style="color: white;" aria-hidden="true"></i>
      </div>   
      <form [formGroup]="loginForm" class="mb-6" autocomplete="off" (ngSubmit)="updatepwd()">
      
        <div class="form-group ">
          <input type="text" class="form-control"  required     placeholder="Code de récuperation" formControlName="code">
          <span class="p-error" *ngIf="submitted && loginForm.controls['code'].errors.required">Le code de récuperation est
            obligatoire.
          </span>
        </div>
        <div class="form-group ">
            <input type="password" class="form-control" placeholder="Nouveau Mot de passe"
             formControlName="password" (change)="onPasswordChanges()">
             <span class="p-error" *ngIf="submitted && loginForm.controls['password'].errors.required">Le nouveau mot de passe est
              obligatoire.</span>
          </div>
          <div class="form-group ">
            <input type="password" class="form-control" placeholder="Confirmation Mot de passe" 
            formControlName="confirmPassword" (change)="onPasswordChanges()">  
            <span class="p-error" *ngIf="submitted && loginForm.controls['confirmPassword'].errors.required">La confirmations de mot de passe est
              obligatoire.</span>        
            <span class="p-error" *ngIf="this.loginForm.controls['confirmPassword'].hasError('mismatch')">les mots de passe ne sont pas
              conforme.</span>
          </div>
          
        <div   style="text-align: center; margin-bottom: 20px;"> 
          <button (click)="cancelUpdates()" Style ="margin-left:20px ;" class="btn"  >Annuler</button>
          <button   class="btn" style="margin-left: 100px;"  type="submit" >Valider</button>          
            </div>
          
            
      </form>
      </div>
      </div>
      
  
  </div>
  <p-toast></p-toast>