
 .wrapp-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #255b86;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
 
 }
 .cls-text-colo{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    
    text-decoration: underline;
} 