<div class="wrapped-div">
    
    <div class="tab-header">
        <h2>{{'validation.titre' | translate}}</h2>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">

            <div class="login-logo">
                <i class="fa fa-envelope fa-3x" style="color: white;" aria-hidden="true"></i>
            </div>
            <div class="login-logo">
                <a href="" class="cls-text-color"><b class="cls-text-color">{{'validation.lbl-code' | translate}}</b></a>
            </div>
            
                <div class="form-group ">
                    <input class="form-control" id="codepin" [(ngModel)]="contribuable.verificationCode" type="text" pInputText>
                    <small class="p-error" *ngIf="submitted && !contribuable.verificationCode">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> &nbsp; codepin est obligatoire.</small>
                    
                </div>
                <div style="text-align: center; margin-bottom: 20px;">
                    <button (click)="validate()" class="btn">{{'validation.btn-valider' | translate}}</button>
                </div>
            
        </div>
    </div>


</div>

<!-- Spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate-pulse" color="#ec9a01" size="large">
    <img style="width: 50px; height: 50px; margin-top: -180px;" src="/assets/img/AS.png" >
</ngx-spinner>