<div class="wrapped-div-register">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h5 style="margin-left: 20px;">{{'enregistrement.lbl-inscription' | translate}}</h5>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple  icon="pi pi-times" label=" {{'enregistrement.btn-annuler' | translate}}" class="p-button-danger p-buttoon-sm p-mr-2"
                (click)="annuler()" pTooltip="{{'enregistrement.tt-btn-annuler' | translate}} " tooltipPosition="top"></button>
            <button pButton pRipple  (click)="ConfirmRegistration()" icon="pi pi-save" label=" {{'enregistrement.btn-enregistrer' | translate}}"
                class="p-button-success p-button-sm p-mr-2" pTooltip="{{'enregistrement.tt-btn-enregistrer' | translate}}" tooltipPosition="top"></button>
        </ng-template>
    </p-toolbar>
    <p-accordion header="Inscriptions" [style]="{width: '100%',height:'470px'}">
        <div class="card ">
            <div class="card-body ">
                <div class="form-row row">
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <input id="mf" [(ngModel)]="contribuable.matriculeFiscale" type="text" class="p-inputtext-lg" style="width: 100%;"
                            autofocus pInputText>
                            <label for="mf">{{'enregistrement.lbl-mf' | translate}}</label>
                        </span>                         
                            <small class="p-error" *ngIf="submitted && !contribuable.matriculeFiscale">Matricule Fiscale est obligatoire.</small>
                        </div>
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <input id="rs" [(ngModel)]="contribuable.raisonSocial" type="text" class="p-inputtext-lg" style="width: 100%;" pInputText>
                            <label for="rs">{{'enregistrement.lbl-rc' | translate}}</label>
                        </span>                         
                            <small class="p-error" *ngIf="submitted && !contribuable.raisonSocial">Raison Sociale est obligatoire.</small>                        
                    </div>
                </div>
                <br>
                <div class="form-row row">
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <input id="rc" [(ngModel)]="contribuable.numRegistre" type="text" class="p-inputtext-lg" style="width: 100%;" pInputText>
                            <label for="rc">{{'enregistrement.lbl-regcom' | translate}}</label>
                        </span>                         
                            <small class="p-error" *ngIf="submitted && !contribuable.numRegistre">Registre de commerce est obligatoire.</small>  
                    </div>
                
                
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <p-inputMask id="tel" mask="{{telmask}}" [(ngModel)]="contribuable.numtel" class="p-inputtext-lg" [style]="{'width':'100%'}"></p-inputMask>
                            <label for="tel"> {{'enregistrement.lbl-tel' | translate}}</label>
                        </span>                         
                            <small class="p-error" *ngIf="submitted && !contribuable.numtel">N°Téléphone est obligatoire.</small>                        
                    </div>
                </div>
                <br>
                <div class="form-row row">
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <input id="email" name="email" #email="ngModel" [(ngModel)]="contribuable.email" class="p-inputtext-lg" style="width: 100%;" pInputText type="email" [email]="true">
                            <label for="email">{{'enregistrement.lbl-email' | translate}}</label>
                        </span>                         
                            <small class="p-error" *ngIf="submitted && !contribuable.email">L'email est
                                obligatoire.</small>
                                <small class="p-error" *ngIf="submitted && email.errors?.email">email 
                                    invalide.</small>                       
                    </div>
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <input id="adresse" [(ngModel)]="contribuable.adresse" type="text" class="p-inputtext-lg" style="width: 100%;" pInputText>
                            <label for="adresse">{{'enregistrement.lbl-adresse' | translate}}</label>
                        </span>                          
                    </div>
                </div>
                <br>
                <div class="form-row row">                
                    <div class="form-group col-lg-6">
                        <span class="p-float-label">
                            <p-dropdown [style]="{'width':'100%'}" [options]="paramPaysList" [(ngModel)]="contribuable.paramPays" 
                            optionLabel="libPays" inputId="lastname1" class="p-inputtext-sm" [autoDisplayFirst]="false"> </p-dropdown>                            
                            <label for="lastname1">{{'enregistrement.lbl-pays' | translate}} </label>
                        </span>                          
                    </div>
                    <div class="col-lg-6">
                        <re-captcha siteKey="6LfTS1geAAAAAMLDCLmcu45hhV7nk4bzz_fPTYbRE"></re-captcha>                        
                    </div>
                </div>
            </div>
        </div>
        <p-accordionTab header="{{'enregistrement.tab-listepv' | translate}}" [selected]="true">
            <div class="card">
                <p-table #dt [value]="pointVenteList" [rows]="5" [paginator]="true" styleClass="p-datatable-sm"
                    responsiveLayout="scroll" [rowHover]="true" dataKey="id"
                    currentPageReportTemplate="Affichage de {first} à {last} parmis {totalRecords} enregistrement(s)"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            
                            <th>{{'enregistrement.th-libpv' | translate}}</th>
                            <th>{{'enregistrement.th-email' | translate}}</th>
                            <th>{{'enregistrement.th-ca' | translate}}</th>
                            <th>{{'enregistrement.th-na' | translate}}</th>
                            <th>{{'th-action' | translate}}</th>
                            <th>
                                <p-button pTooltip="{{'enregistrement.tt-btn-ajoutpv' | translate}}" tooltipPosition="top"
                                    (click)="addNewPointVentes()" icon="pi pi-plus-circle" class="p-button-info p-mr-2">
                                </p-button>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-pv>
                        <tr>

                            
                            <td>{{pv.libellePoint}}</td>
                            <td>{{pv.email}}</td>
                            <td>{{pv.codeAgent}}</td>
                            <td>{{pv.nomAgent}}</td>

                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-2 p-button-rounded p-button-success p-mr-2"
                                    (click)="updatepv(pv)"></button>
                                <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning p-mr-2" (click)="deletepv(pv)"></button>
                            </td>
                        </tr>
                    </ng-template>

                </p-table>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>


<p-dialog [(visible)]="pointVenteDialog" [style]="{width: '700px'}" header="Ajout point de ventes" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <hr>
        <div class="form-row row">
            <div class="form-group col-lg-6 md-lg-4">               
                    <span class="p-float-label">
                        <input type="text" pInputText id="libellePoint" [(ngModel)]="pointVente.libellePoint" required
                        autofocus class="p-inputtext-lg" #libpoint="ngModel" [ngClass]="{'ng-dirty': (libpoint.invalid && submittedd) || (libpoint.dirty && libpoint.invalid)}" />
                        <label for="libellePoint">{{'enregistrement.th-libpv' | translate}}*</label>
                    </span>         
                        <small class="p-error" *ngIf="(libpoint.invalid && submittedd) || (libpoint.dirty && libpoint.invalid)">Libellé de point est obligatoire.</small>
            </div>
            <div class="form-group col-lg-6">
                <span class="p-float-label">
                    <input type="text" pInputText id="codeAgent" [(ngModel)]="pointVente.codeAgent" class="p-inputtext-lg" required/>
                    <label for="codeAgent">{{'enregistrement.th-ca' | translate}}* </label>
                </span>         
                    <small class="p-error" *ngIf="submittedd && !pointVente.codeAgent">Code d'agent est obligatoire.</small>
            </div>
           
        </div> 
        <br>
        <div class="form-row row">
            <div class="form-group col-lg-6">
                <span class="p-float-label">
                    <input type="text" pInputText id="nomAgent" [(ngModel)]="pointVente.nomAgent" class="p-inputtext-lg" required />                    
                    <label for="nomAgent">{{'enregistrement.th-na' | translate}}* </label>
                </span>         
                    <small class="p-error" *ngIf="submittedd && !pointVente.nomAgent">Nom d'agent est obligatoire.</small>                
            </div>
            <div class="form-group col-lg-6">
                <span class="p-float-label">
                    <input id="emaila" name="email" #email="ngModel" [(ngModel)]="pointVente.email" class="p-inputtext-lg"  pInputText type="email" [email]="true">
                    <label for="emaila">{{'enregistrement.lbl-email' | translate}}*</label>
                </span>                         
                    <small class="p-error" *ngIf="submittedd && !pointVente.email">L'email est
                        obligatoire.</small>
                        <small class="p-error" *ngIf="submittedd && email.errors?.email">email 
                            invalide.</small>                       
            </div>
           
        </div>
        <br>
        <div class="form-row row">
            <div class="form-group col-lg-6">
                <span class="p-float-label">
                    <input type="password" pPassword id="password1" #pass="ngModel" [(ngModel)]="pointVente.motPasse" class="p-inputtext-lg" 
                     required  [ngClass]="{'ng-dirty': (pass.invalid && submittedd) || (pass.dirty && pass.invalid)}" />
                    <label for="password1">{{'enregistrement.lbl-password' | translate}}*</label>
                </span>
                    <small class="p-error" *ngIf="(pass.invalid && submittedd) || (pass.dirty && pass.invalid)">mot de passe obligatoire.</small>
                    <small class="p-error" *ngIf="submittedd && validateRegexMdp()">{{'error.msg-mdp-rgx' | translate}}</small>
            </div>
            <div class="form-group col-lg-6">
                <span class="p-float-label">
                    <input type="password" pInputText id="motPasseConfirm" [(ngModel)]="this.password" class="p-inputtext-lg" required />
                    <label for="motPasseConfirm">{{'enregistrement.lbl-confpassword' | translate}}*</label>
                </span> 
                    <small class="p-error" *ngIf="this.password!=pointVente.motPasse">les mots de passe ne sont pas conforme.</small>
            </div>
        </div>
        <hr>
        <div class="row" style="float: right;">
            <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger "
                (click)="hideDialog()"></button> &nbsp;
            <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success"
                (click)="savepv()"></button>
        </div>
    </ng-template>
</p-dialog>

<!--confirm registration dialog-->

<p-dialog [(visible)]="confirmationDialog" [style]="{width: '700px'}" header="{{'enregistrement.dialog-header-mail' | translate}}" [modal]="true"
    styleClass="p-fluid" >
    <div style="text-align: center;">
        <i class="pi pi-inbox" style="font-size: 4rem;"></i>
    </div>
        <p>{{'enregistrement.dialog-p-mail' | translate}}</p>
        <ng-template pTemplate="footer">
        <div class="row" style="float: right;">
            
            <button pButton  icon="pi pi-check" label="OK" styleClass="p-button-text"
                (click)="register()"></button>
        </div>
    </ng-template>
    
</p-dialog>

<!--spinner-->
<ngx-spinner bdColor="rgba(51,51,51,0.3)" type="ball-clip-rotate-pulse" color="#ec9a01" size="large">
    <img style="width: 50px; height: 50px; margin-top: -180px;" src="/assets/img/AS.png" >
</ngx-spinner>

