<div class="wrapped-div">

    <div class="tab-header">
        <h2>Retrouvez votre point de vente</h2>
    </div>
  
    <div class="row">
      <div class="col-md-10 offset-md-1">  
        <div class="login-logo">
          <i class="fa fa-envelope fa-3x" style="color: white;" aria-hidden="true"></i>
        </div>   
        <form [formGroup]="loginForm" class="mb-6" autocomplete="off">

            <div class="form-group">               
              <input (blur)="verifNif()"type="text" class="form-control" placeholder="Matricule Fiscale" formControlName="matFiscale" >
              <!--span class="p-error" *ngIf="submitted && loginForm.controls['matFiscale'].errors.required">la matricule fiscale est
                obligatoire.</span-->
            </div>

            <div class="form-group">
              <h6 style="color:white">Listes des point de vente :</h6>
            <select formControlName="selectedPointVente" class="form-control">
              <option value="" disabled hidden>Listes des point de ventes</option>
              <option *ngFor="let pointv of pointVenteList" [ngValue]="pointv">{{pointv.libellePoint}}</option>
            </select>
            </div>
            <div  class="btn-toolbar" style=" margin-bottom: 20px;"> 
             <div class="col-md-12 text-center "> 
              <button (click)="cancelUpdates()"  class="btn">Annuler</button>
              <button (click)="sendCode()"  style="margin-left: 100px;"  class="btn"     >Valider </button>
             </div>
           
            </div>
        </form>
     </div>
    </div>
  </div>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast></p-toast>