.enregister{
background-color: rgb(158, 255, 200);
border-radius: 8px;
color: rgb(6, 82, 6);
font-weight: 500;
}
.valider{
background-color: rgb(156, 205, 252);
border-radius: 8px;
color: rgb(0, 36, 112);
font-weight: 500;
}
.attente{
background-color: rgb(253, 150, 138);
border-radius: 8px;
color: rgb(151, 0, 0);
font-weight: 500;
}
.envoyer{
background-color: rgb(210, 248, 133);
border-radius: 8px;
color: rgb(81, 95, 3);
font-weight: 500;
}

