<div class="wrapper">

    <!-- Navbar -->
   <app-header></app-header>
    <!-- Main Sidebar Container -->
    <app-menu></app-menu>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <p-toast></p-toast>

        <!-- /.content-header -->
    
        <!-- Main content --> 
        
                                <router-outlet></router-outlet>
                  
    </div>
    <!-- <app-maincontent></app-maincontent> -->
    <!-- /.content-wrapper -->
  
  
   
  </div>

